name: Build MicroPython with ESP WiFi TX Module

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch: # Manuel başlatma butonu ekler

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Yasu's Module
        uses: actions/checkout@v4
        with:
          path: micropython_esp_wifi_tx

      - name: Checkout MicroPython
        uses: actions/checkout@v4
        with:
          repository: micropython/micropython
          path: micropython
          submodules: recursive

      - name: Install ESP-IDF
        run: |
          cd micropython/esp-idf
          # v1.24+ MicroPython için en stabil sürüm
          git checkout v5.2.2 
          git submodule update --init --recursive
          ./install.sh esp32s3
          
      - name: Build Firmware
        run: |
          cd micropython/esp-idf
          source export.sh
          
          # Hatalı dokunmatik sürücüsü kontrolünü bypass et
          sed -i 's/esp_driver_touch_sens//g' ../ports/esp32/main/CMakeLists.txt
          
          cd ../ports/esp32
          # BOARD ve USER_C_MODULES tanımı
          make BOARD=ESP32_GENERIC_S3 BOARD_VARIANT=SPIRAM_OCT \
               USER_C_MODULES=${{ github.workspace }}/micropython_esp_wifi_tx/micropython.cmake
               
      - name: Upload Firmware Artifact
        uses: actions/upload-artifact@v4
        with:
          name: YasuPython-S3-N16R8-Firmware
          path: micropython/ports/esp32/build-ESP32_GENERIC_S3-SPIRAM_OCT/firmware.bin
